<DOCTYPE css>

h1 {
    font-family: "Arial Black";
}

h3 {
    font-family: "Arial Black";
}

.fit {
  max-width: 100%;
  max-heigth: 20%;
}

#banner {
  background-image: url("IcelandViking2.jpeg");
  align: center;
  height: 50px;
  width: 100%;
}
