<DOCTYPE css>

h1 {
    font-family: "Arial Black";
}

h3 {
    font-family: "Arial Black";
}

.info-one {
    background-color: #d9d9db;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.potrait {
    border-radius: 50%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
    padding: 10px;
}

.button {
  background-color: #6f8589;
  border: none;
  color: "white";
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #white; 
  color: black; 
  border: 2px solid #6f8589;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.fit {
  max-width: 100%;
  max-heigth: 20%;
}

#banner {
  background-image: url("IcelandViking5.jpeg");
  align: center;
  height: 200px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centeredtwo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  left: 300px;
}

.navlist {
    list-style-type: none;
}



.navigate {
    background-color: #66cc99;
    position: fixed;
    width: 100%; 
    font-size: "20px";
    padding: "40px";
}

img {
    z-index: -1;
}

#header {
    padding-bottom: 10px;
    padding-top: 10px;
    background: white;
    font-size: 18px;
    text-align: center;
    position: fixed; 
    top: 0;
    width: 100%; 
    transition: 0.2s;
    z-index: 1;
}

#title {
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}

.sup {
    padding-bottom: 17px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
  font-size: "20px";
}

.btn:hover {background: #eee;}

.success {color: black;}

.btn:learn {
    width: 100%
    text-align: center;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 80px 0;
}

.attempt {
  margin: auto;
  width: 20%;
  border: 3px solid #73AD21;
  padding: 10px;
}
